@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    font-style: none;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background-color: #FFC9C9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 8%;
    justify-content: space-between;
}

.logo {

}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    padding: 15px;
    color: #FF8282;
    font-size: 25px;
    display: block;
}

header nav ul li a:hover {
    color: #AFCEFE;
    font-size: 30px;
}

.tort {
    width: 500px;
    height: 500px;
    padding: 105px;
}

.text {
    color: #FF8282;
    text-align: right;
    margin-right: 250px;
    margin-top: -270px;
}

.text button {
    background-color: #fff;
    color: #FF8282;
    width: 110px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    border-color: #fff;
    border-style: none;
}

.text button:hover {
    width: 125px;
    height: 40px;
    font-size: 25px;
}

.main {
    background-color: #fff;
}

.h1 {
    color: #AFCEFE;
    text-align: center;
    margin-top: 150px;
}

.h2 {
    color:#FF8282;
    text-align: center;
    margin-top: 20px;
}

.h1-1 {
    color: #AFCEFE;
    text-align: center;
    margin-top: 50px;
}

.image {
    text-align: center; 
    width: 200px; 
    background-color: #fff; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 10px; 
    justify-content: center;
    align-items: center;

}

.image img { 
    width: 500px; 
    margin-top: 20px;
} 

.image h2 {
    color: #AFCEFE;
    text-align: center;
}
 
.image button { 
    background-color: #fff;
    color: #AFCEFE;
    border-radius: 5px;
    width: 110px;
    height: 30px;
    font-size: 27px;
    border-color: #fff;
    border-style: none;
    font-weight: 700;
} 

.image button:hover {
    width: 115px;
    height: 35px;
    font-size: 32px;
    color: #FF8282;
}